@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Poppins:wght@100;300;400;500;600&family=Ubuntu:wght@300;400;500&family=Unbounded:wght@300;400;500;600&family=Varela+Round&display=swap");
body,
html {
  background-color: plum;
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
  display: block;
  width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
  color: darkblue;
  font-family: "Lemonada", cursive !important;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

#completed-tasks span {
  text-decoration: line-through;
  font-size: 3.2em !important;
}
